
<div class = "container">

    <div class = "row">

        <div class = "col-sm-12 panel-body common-border header">

                <strong>    Contact list </strong>
                <span class="pull-right"> {{#link-to 'new'}}<a href="" class="new-contact-link">+ New contact</a>{{/link-to}} </span>

        </div>

    </div>

        {{outlet}}



</div>